 .outcontent{
            
         
            height:100px;
            width:auto;
         display:inline-block;
  
         }
        #spintext{
           
        padding-left:470px;
        _padding-left:450px;
        font-size:25px;
        opacity:1;
        padding-top:50px;
        font-style:italic;
        font-family:Artifika;
        color:#000;
        }
        
